version: "3.9"
services:
  brainrot-service:
    build: .
    container_name: brc-brainrot-service
    restart: unless-stopped
    environment:
      PORT: 4001
      PGHOST: postgres
      PGPORT: 5432
      PGDATABASE: brc_brainrot
      PGUSER: brc_brainrot_user
      PGPASSWORD: brc_brainrot_password
    ports:
      - "4001:4001"
    depends_on:
      - postgres
  postgres:
    image: postgres:16
    container_name: brc-brainrot-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: brc_brainrot
      POSTGRES_USER: brc_brainrot_user
      POSTGRES_PASSWORD: brc_brainrot_password
    ports:
      - "5401:5432"
    volumes:
      - brc_brainrot_pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
volumes:
  brc_brainrot_pgdata:
